doctype html
html
  head
    title= title
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css")
    link(href='https://fonts.googleapis.com/css?family=Economica' rel='stylesheet' type='text/css')
    link(href='style.css' rel='stylesheet')
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
    script(src="bower_components/jquery/dist/jquery.min.js")
  body
    div.container
      block content